@use "sass:math";

// サイズ
$phoneWidth: 600;
$tabWidth: 1200;

// 色
$color1: #d7d56f;
$color2: #b6d149;
$color3: #9eb639;
$color4: #78420e;
$color5: #382e43;

@mixin phone {
  @media (max-width: #{$phoneWidth}px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tabWidth}px) {
    @content;
  }
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2)
    format("woff2");
}

:root {
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

h1,
h2,
h3,
ul,
li,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

button {
  background: none;
  border: none;
}

h1 {
  word-break: auto-phrase;
  overflow-wrap: anywhere;
}

p {
  word-break: break-word;
  overflow-wrap: anywhere;
}
