@use 'init-settings'as *;

@include phone {
	.glnav-close {
		background: #000;
		height: 100vh;
		right: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		transition: all 0.6s;
		width: 100vw;
		visibility: hidden;
	}

	.no-scroll {
		.glnav-close {
			opacity: 0.8;
			visibility: visible;
		}
	}
}

.Header {

	// スマホ用グローバルナビゲーション
	.glnav-hamburger {
		.hamburger-btn {
			display: none;

			@include phone {
				display: block;
				position: absolute;
			}
		}

		.logo {
			display: none;

			@include phone {
				display: block;
				position: absolute;
				top: 0;
				left: 4rem;
			}
		}

	}

	.glnav {
		.glnav-list {
			display: flex;
		}

		@include phone {
			position: absolute;
			visibility: hidden;

			.glnav-content-showing {
				position: fixed;
				height: calc(100% - 200px);
				width: calc(100% - 80px);
				transition: left 0.5s;
				background: #fff;
				z-index: 100;
				visibility: visible;
			}

			.glnav-list {
				flex-direction: column;
			}
		}
	}
}

.Main {
	padding: 0;

	@include phone {
		padding: 4em 0 0 1em;
	}
}

// .Footer {
// }