@use "settings" as *;

.body {
  background: #{$color1};
}

.bHeader {
  height: 64px;
  min-height: 64px;
  transition:
    transform 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
  width: 100%;

  &.hide {
    transform: translate3d(0, -140px, 0);
  }

  &.shadow {
    position: fixed;
    width: 100%;
    top: 0px;
    background: #{$color1};
    z-index: 2;
    box-shadow:
      0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }

  // グローバルナビゲーション
  .gnav {
    display: flex;
    align-items: center;
    height: 100%;
    transition: background 0.3s ease;
    width: 100%;

    .logo {
      display: block;
      width: auto;
      height: 100%;
    }

    .gnav-content {
      display: initial;
      height: 100%;

      .gnav-list {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 100%;

        .gnav-item {
          display: flex;
          width: auto;
          min-width: 4.5rem;
          margin: 0.5rem 0;
          border-right: 1px solid #{$color4};
          &:last-child {
            border-right: none;
          }

          .gnav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0 0.5rem;
            border-radius: 0.25rem;
            letter-spacing: 0.3px;
            min-height: 3rem;

            &:hover {
              background: #{$color3};
            }
          }
        }
      }
    }

    // すべて隠す
    @include phone {
      position: absolute;
      visibility: hidden;
    }
  }

  // スマホ用Ｇナビヘッダ
  .gnav-mobile {
    width: 100%;
    display: none;

    @include phone {
      display: flex;

      .logo {
        display: block;
      }

      .hamburger-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 48px;
        height: 48px;
        border-radius: 0.3rem;

        .hamburger-icon {
          display: flex;
          width: 25px;
          height: 3px;
          background-color: #{$color4};

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 3px;
            background-color: #{$color4};
          }

          &::before {
            top: 13px;
          }

          &::after {
            bottom: 13px;
          }
        }

        &:hover {
          background: #{$color3};
          cursor: pointer;
        }
      }
    }
  }

  // スマホ用Ｇナビ開いた状態
  @include phone {
    .gnav-showing {
      position: fixed;
      height: 15rem;
      width: calc(100% - 40px);
      max-width: 18rem;
      min-width: 220px;
      min-height: 25rem;
      top: 0;
      right: 0;
      background: #{$color1};
      visibility: visible;
      border-radius: 0.25rem;
      box-shadow:
        0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
      overflow: hidden;
      transform: translateZ(0);
      transition: transform 0.3s ease;
      z-index: 820;

      .logo {
        padding: 0.5rem 0.5rem;
      }

      .hamburger-btn-close {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 0.5rem;
        right: 0.5rem;
        width: 48px;
        height: 48px;
        border-radius: 0.3rem;

        .hamburger-icon-close {
          display: block;
          position: relative;
          width: 30px;
          height: 30px;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 30px;
            background-color: #{$color4};
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &:hover {
          background: #{$color3};
          cursor: pointer;
        }
      }

      .gnav-list {
        flex-direction: column;
      }

      .gnav-item {
        width: calc(100% - 0.5rem);
      }

      .gnav-link {
        display: flex;
        height: 100%;
        border-end-end-radius: 6.25rem;
        border-start-end-radius: 6.25rem;
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.75rem;
        align-items: center;
        letter-spacing: 0.3px;
        min-height: 3rem;
        border-left: 1rem solid #{$color4};

        &:hover {
          background: #{$color3};
        }
      }
    }
  }
}

// スマホ用グローバルナビゲーション表示時のbody
@include phone {
  .no-scroll {
    overflow: hidden;
    display: block;
    opacity: 1;

    .gnav-close {
      transition: background 0.3s ease;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 810;
    }
  }
}

.bMain {
  h1:first-letter {
    font-size: 2em;
    color: #{$color3};
  }

  .headline {
    margin: 0 1rem 1rem 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 0.5rem;
    color: #{$color5};

    @include phone {
      margin: 0;
      padding: 0.5rem 0.5rem 1rem 1.5rem;
    }
  }

  .box-type1 {
    display: inline-block;
    position: relative;
    margin: 0.3rem 0 0 0.5rem;
    padding: 0.3rem 1.5em;
    border-top: solid 3px #{$color4};
    border-bottom: solid 3px #{$color4};
    color: #{$color5};

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 3px;
      top: -10px;
      height: calc(100% + 1.25rem);
      background-color: #{$color4};
    }

    &::before {
      left: 0.7rem;
    }
    &::after {
      right: 0.7rem;
    }
  }

  .box-type2 {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #{$color5};
    background: #{$color2};
    border-left: double 8px #{$color4};
    border-right: double 8px #{$color4};
  }

  .plays-list {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: repeat(12, minmax(0.5rem, 1fr));
    padding: 1rem 1.5rem;

    .plays-list-item {
      grid-column-end: span 3;
      border-radius: 0.3rem;

      &:hover {
        box-shadow:
          0 1px 2px 0 rgba(60, 64, 67, 0.3),
          0 1px 3px 1px rgba(60, 64, 67, 0.15);
      }

      @include tablet {
        grid-column-end: span 6;
      }

      @include phone {
        grid-column-end: span 12;
      }

      .plays-list-item-inner {
        display: flex;
        height: 100%;
        min-height: 13rem;

        .plays-media {
          flex-shrink: 0;
          width: 40%;
          img {
            height: 100%;
            display: block;
            object-fit: cover;
            border-start-start-radius: 0.3rem;
            border-end-start-radius: 0.3rem;
          }
        }

        .plays-summary {
          width: 100%;
          padding: 1rem 0.8rem 1rem 1rem;
          border: #{$color3} solid 1px;
          border-left: none;
          border-start-end-radius: 0.3rem;
          border-end-end-radius: 0.3rem;

          .plays-summary-title {
            display: inline;
            background: linear-gradient(transparent 70%, #{$color3} 0%);
          }

          .plays-summary-content {
            place-content: center;
            padding-top: 1rem;
          }
        }
      }
    }
  }

  .dots {
    height: 1rem;
    margin: 2rem 0 1rem 0;

    background-image:
      linear-gradient(90deg, #{$color2} 30%, transparent 30%),
      linear-gradient(90deg, #{$color3} 30%, transparent 30%);
    background-size: 3rem, 3rem;
    background-position:
      1.5rem 0,
      0 0;
  }

  .dash {
    height: 0.2rem;
    margin: 2rem 0;

    background-image:
      linear-gradient(90deg, #{$color2} 30%, transparent 30%),
      linear-gradient(90deg, #{$color3} 30%, transparent 30%);
    background-size: 3rem, 3rem;
    background-position:
      1.5rem 0,
      0 0;
  }

  .plays-menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-inline-start: 1rem;

    .plays-menu-list-item {
      display: flex;
      align-items: center;
      height: 2rem;
      border-radius: 0.25rem;
      margin-right: 1rem;

      .plays-menu-list-link {
        display: flex;
        align-items: center;

        &::before {
          content: "";
          width: 6px;
          height: 6px;
          margin: 0 0.5rem 0 0;
          border-style: solid;
          border-width: 2px 2px 0 0;
          border-color: #{$color4};
          transform: rotate(45deg);
        }
      }

      &::after {
        display: inline-block;
        background: #{$color3};
        content: "";
        height: 2px;
        position: absolute;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: #{$color3};
        text-underline-offset: 0.3rem;
      }
    }
  }

  .plays-detail {
    display: grid;
    grid-template-columns: repeat(12, minmax(0.5rem, 1fr));
    padding: 0 1rem;

    .plays-detail-left {
      grid-column-end: span 3;
      justify-items: center;

      @include tablet {
        grid-column-end: span 5;
      }

      @include phone {
        grid-column-end: span 12;
      }

      .plays-detail-title {
        padding: 0.5rem 1rem;
        color: #{$color5};
        background: #{$color2};
        border-left: double 8px #{$color4};
        border-right: double 8px #{$color4};
      }

      .plays-detail-media {
        padding: 2rem 2rem 0 2rem;

        img {
          display: block;
          width: 100%;
          height: 100%;
          max-width: 300px;
          min-height: 350px;
          object-fit: cover;
          border-radius: 0.3rem;
        }
      }
    }

    .plays-detail-center {
      grid-column-end: span 4;
      padding: 0.5rem 1rem;

      @include tablet {
        grid-column-end: span 7;
      }

      @include phone {
        grid-column-end: span 12;
      }

      .plays-detail-center-theme {
        padding-bottom: 1rem;

        @include phone {
          padding: 1rem 0;
        }

        .theme {
          position: relative;
        }
        .theme:after {
          content: "";
          display: block;
          height: 4px;
          background: linear-gradient(to right, #{$color3}, transparent);
        }
      }

      .plays-Characters {
        position: relative;

        .plays-Characters-title {
          position: absolute;
          background: #{$color1};
          top: -1.5rem;
          left: -1.5rem;
        }

        .plays-Characters-list {
          margin: 2rem 0rem 0 0.5rem;
          padding: 2rem 0.8rem 1rem 1rem;
          border: solid 3px #{$color4};
          border-radius: 8px;

          .plays-Characters-item {
            padding: 0.2rem 0;
            border-bottom: 1px dashed #{$color4};

            .character-name {
              font-weight: bold;
              padding-right: 1rem;
            }
          }
        }
      }
    }

    .plays-detail-right {
      grid-column-end: span 5;
      padding: 0.5rem 1rem;

      @include tablet {
        grid-column-end: span 12;
      }

      .plays-story {
        position: relative;

        .plays-story-title {
          position: absolute;
          background: #{$color1};
          top: -1.5rem;
          left: -1.5rem;
        }

        .plays-story-content {
          margin: 2rem 0rem 0 0.5rem;
          padding: 2rem 0.8rem 1rem 1rem;
          border: solid 3px #{$color4};
          border-radius: 8px;

          .readmore {
            position: relative;

            .readmore-accordion {
              position: relative;
              margin-bottom: 0;
              overflow: hidden;
              transition: height 0.6s;
              height: 450px;
              @include tablet {
                height: 150px;
              }

              &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                  180deg,
                  transparent 80%,
                  #{$color1}
                );
                @include phone {
                  background: linear-gradient(
                    180deg,
                    transparent 50%,
                    #{$color1}
                  );
                }
              }
            }

            .readmore-label {
              display: flex;
              position: absolute;
              justify-self: center;
              padding: 0.1rem 0.5rem;

              input {
                display: none;
              }

              &:hover {
                text-decoration: underline;
                text-decoration-color: #{$color3};
                text-underline-offset: 0.3rem;
                cursor: pointer;
              }

              &::before {
                content: "";
                width: 20px;
                height: 10px;
                background-color: #{$color3};
                clip-path: polygon(50% 10px, 0% 0%, 20px 0%);
              }

              &:has(:checked) {
                &::before {
                  content: "";
                  width: 20px;
                  height: 10px;
                  background-color: #{$color3};
                  clip-path: polygon(50% 0%, 0% 10px, 20px 10px);
                }
              }
            }

            &:has(:checked) {
              .readmore-accordion {
                height: auto;

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .famous-saying {
    display: grid;
    grid-template-columns: repeat(2, minmax(0.5rem, 1fr));
    margin: 0.5rem 0;
    padding: 1rem 0 0.5rem 0;
    border-top: 0.1rem solid #{$color3};
    border-bottom: 0.1rem solid #{$color3};
    border-right: 2rem solid #{$color3};
    border-left: 2rem solid #{$color3};

    .famous-saying-content {
      position: relative;
      grid-column-end: span 1;
      font-style: italic;
      place-content: center;
      padding-left: 1rem;
      padding-right: 0.5rem;

      @include tablet {
        grid-column-end: span 2;
        justify-self: center;
      }

      @include phone {
        justify-self: start;
      }

      .famous-saying-content-ja {
        justify-self: end;
        padding-bottom: 1rem;

        @include tablet {
          padding-bottom: 0;
        }
      }

      .famous-saying-content-en {
        justify-self: start;
        padding-bottom: 1rem;
      }
    }
  }

  .about-us {
    margin: 1rem;

    .about-us-content {
      margin: 1.5rem 0;
    }

    .about-us-content-txt {
      padding: 1rem;
    }
  }
}

.bFooter {
  .footer-content {
    width: 100%;
    padding-bottom: 2rem;

    // 横並び
    .footer-list {
      display: flex;
      justify-content: flex-end;
      padding-right: 0.5rem;

      .footer-item {
        width: auto;
        border-left: 1px solid #{$color4};
      }

      .footer-link {
        display: flex;
        border-radius: 0.25rem;
        align-items: center;
        padding-inline: 0.5rem;
        letter-spacing: 0.3px;
        min-height: 3rem;

        &:hover {
          background: #{$color3};
        }
      }
    }
    // スマホ用
    @include phone {
      .footer-list {
        flex-direction: column;

        .footer-item {
          width: calc(100% - 1rem);
          max-width: none;
          border: none;
        }

        .footer-link {
          justify-content: left;
          border-start-end-radius: 6.25rem;
          border-end-end-radius: 6.25rem;
          padding-inline-start: 1rem;
          border-left: 1rem solid #{$color4};

          &:hover {
            background: #{$color3};
          }
        }
      }
    }
  }
  .copyright {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.about-us-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
