@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format("woff2");
}
body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #382e43;
}

h1,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

button {
  background: none;
  border: none;
}

h1,
div {
  word-break: auto-phrase;
  overflow-wrap: anywhere;
}

.body {
  background: #d7d56f;
}

.bHeader {
  position: static;
  transition: 0.5s;
}
.bHeader.hide {
  transform: translate3d(0, -140px, 0);
}
.bHeader.shadow {
  position: fixed;
  width: 100%;
  top: 0px;
  background: #d7d56f;
  z-index: 2;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.bHeader .gnav {
  display: flex;
  width: 100%;
  align-items: center;
}
.bHeader .gnav .logo-link {
  display: flex;
}
.bHeader .gnav .gnav-content {
  width: 100%;
  align-items: center;
}
.bHeader .gnav .gnav-content .gnav-list {
  display: flex;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-item {
  width: 20%;
  max-width: 7.5rem;
  border-right: 1px solid #78420e;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-item:nth-of-type(5) {
  border-right: none;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-link {
  display: flex;
  border-radius: 0.25rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  width: auto;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.3px;
  min-height: 3rem;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-link:hover {
  background: #9eb639;
}
@media (max-width: 750px) {
  .bHeader .gnav {
    position: absolute;
    visibility: hidden;
  }
}
@media (max-width: 750px) {
  .bHeader .gnav-showing {
    position: fixed;
    height: calc(100% - 12rem);
    width: calc(100% - 5rem);
    max-width: 18rem;
    min-width: 10rem;
    min-height: 25rem;
    top: 0;
    right: 0;
    transition: right 0.5s;
    background: #d7d56f;
    z-index: 820;
    visibility: visible;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
  .bHeader .gnav-showing .logo {
    padding: 0.5rem 1rem;
  }
  .bHeader .gnav-showing .gnav-list {
    flex-direction: column;
  }
  .bHeader .gnav-showing .gnav-item {
    width: calc(100% - 0.5rem);
  }
  .bHeader .gnav-showing .gnav-link {
    display: flex;
    height: 100%;
    border-end-end-radius: 6.25rem;
    border-start-end-radius: 6.25rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.75rem;
    align-items: center;
    letter-spacing: 0.3px;
    min-height: 3rem;
    border-left: 1rem solid #78420e;
  }
  .bHeader .gnav-showing .gnav-link:hover {
    background: #9eb639;
  }
}
.bHeader .gnav-hamburger {
  display: none;
}
@media (max-width: 750px) {
  .bHeader .gnav-hamburger {
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 5rem;
    position: relative;
    width: 100%;
  }
  .bHeader .gnav-hamburger .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .bHeader .gnav-hamburger .hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.25rem;
  }
  .bHeader .gnav-hamburger .hamburger-btn:hover {
    background: #9eb639;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .no-scroll {
    overflow: hidden;
    display: block;
    opacity: 1;
  }
  .no-scroll .gnav-close {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: all 0.6s;
    z-index: 810;
  }
}
.bMain .headline {
  margin: 0 1rem 1rem 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 0.5rem;
  background: linear-gradient(to bottom right, #b6d149, #9eb639);
  border-radius: 1rem;
}
.bMain .plays-headline {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  padding: 0.2rem 1.5em;
  border-top: solid 3px #78420e;
  border-bottom: solid 3px #78420e;
}
.bMain .plays-headline::before, .bMain .plays-headline::after {
  content: "";
  position: absolute;
  width: 3px;
  top: -10px;
  height: calc(100% + 1.25rem);
  background-color: #78420e;
}
.bMain .plays-headline::before {
  left: 0.7rem;
}
.bMain .plays-headline::after {
  right: 0.7rem;
}
.bMain .plays-list {
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: repeat(12, minmax(0.5rem, 1fr));
  padding: 0 1rem;
}
@media (max-width: 750px) {
  .bMain .plays-list {
    grid-template-columns: repeat(4, minmax(0.5rem, 1fr));
  }
}
.bMain .plays-list .plays-list-item {
  grid-column-end: span 3;
  border-radius: 0.3rem;
}
.bMain .plays-list .plays-list-item:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
@media (max-width: 1250px) {
  .bMain .plays-list .plays-list-item {
    grid-column-end: span 6;
  }
}
@media (max-width: 750px) {
  .bMain .plays-list .plays-list-item {
    grid-column-end: span 4;
  }
}
.bMain .plays-list .plays-list-item .plays-list-item-inner {
  display: flex;
  max-height: 15rem;
  min-height: 5rem;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-media {
  flex-shrink: 0;
  max-width: 40%;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-media img {
  height: 100%;
  display: block;
  object-fit: cover;
  border-start-start-radius: 0.3rem;
  border-end-start-radius: 0.3rem;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-summary {
  padding: 0.8rem;
  border: #9eb639 solid 1px;
  border-left: none;
  border-start-end-radius: 0.3rem;
  border-end-end-radius: 0.3rem;
  width: 100%;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-summary .plays-summary-title {
  display: inline;
  background: linear-gradient(transparent 70%, #9eb639 0%);
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-summary .plays-summary-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.bMain .dots {
  width: 100%;
  height: 1rem;
  margin: 2rem 0 1rem 0;
  background-image: linear-gradient(90deg, #b6d149 30%, transparent 30%), linear-gradient(90deg, #9eb639 30%, transparent 30%);
  background-size: 3rem, 3rem;
  background-position: 1.5rem 0, 0 0;
}
.bMain .plays-menu-list {
  display: flex;
  width: 100%;
  align-items: center;
}
.bMain .plays-menu-list .plays-menu-list-item {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-inline-start: 1rem;
}
.bMain .plays-menu-list .plays-menu-list-item .plays-menu-list-link {
  display: flex;
  align-items: center;
}
.bMain .plays-menu-list .plays-menu-list-item .plays-menu-list-link::before {
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 0.5rem 0 0;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: #78420e;
  transform: rotate(45deg);
}

.bFooter .footer-content {
  width: 100%;
  padding-bottom: 2rem;
}
.bFooter .footer-content .footer-list {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}
.bFooter .footer-content .footer-list .footer-item {
  width: auto;
  border-right: 1px solid #78420e;
}
.bFooter .footer-content .footer-list .footer-item:nth-of-type(4) {
  border-right: none;
}
.bFooter .footer-content .footer-list .footer-link {
  display: flex;
  border-radius: 0.25rem;
  align-items: center;
  padding-inline: 1rem;
  letter-spacing: 0.3px;
  min-height: 3rem;
}
.bFooter .footer-content .footer-list .footer-link:hover {
  background: #9eb639;
}
@media (max-width: 750px) {
  .bFooter .footer-content .footer-list {
    flex-direction: column;
  }
  .bFooter .footer-content .footer-list .footer-item {
    width: calc(100% - 1rem);
    max-width: none;
    border: none;
  }
  .bFooter .footer-content .footer-list .footer-link {
    justify-content: left;
    border-end-end-radius: 6.25rem;
    border-start-end-radius: 6.25rem;
    padding-inline-start: 1rem;
    border-left: 1rem solid #78420e;
  }
  .bFooter .footer-content .footer-list .footer-link:hover {
    background: #9eb639;
  }
}
.bFooter .copyright {
  display: block;
  text-align: center;
  padding-bottom: 2rem;
}/*# sourceMappingURL=common.css.map */