@use "settings" as *;

.body {
  background: #{$color1};
}

.bHeader {
  position: sticky;
  transition: 0.5s;

  &.hide {
    transform: translate3d(0, -140px, 0);
  }

  &.shadow {
    position: fixed;
    width: 100%;
    top: 0px;
    background: #{$color1};
    z-index: 2;
    box-shadow:
      0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }

  // グローバルナビゲーション
  .gnav {
    display: flex;
    width: 100%;
    align-items: center;

    .logo-link {
      display: flex;
    }

    .gnav-content {
      width: 100%;
      align-items: center;

      // 横並び
      .gnav-list {
        display: flex;

        .gnav-item {
          width: 20%;
          max-width: 7.5rem;
          border-right: 1px solid #{$color4};
          &:nth-of-type(5) {
            border-right: none;
          }
        }

        .gnav-link {
          display: flex;
          border-radius: 0.25rem;
          padding-inline-start: 0.75rem;
          padding-inline-end: 0.75rem;
          width: auto;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.3px;
          min-height: 3rem;

          &:hover {
            background: #{$color3};
          }
        }
      }
    }

    // すべて隠す
    @include phone {
      position: absolute;
      visibility: hidden;
    }
  }

  // スマホ用Ｇナビ
  .gnav-hamburger {
    display: none;

    @include phone {
      align-items: center;
      display: flex;
      min-height: 5rem;

      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }

      .hamburger-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0.5rem;
        width: 48px;
        height: 48px;
        border-radius: 0.3rem;

        .hamburger-icon {
          display: flex;
          width: 25px;
          height: 3px;
          background-color: #{$color4};

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 3px;
            background-color: #{$color4};
          }

          &::before {
            top: 13px;
          }

          &::after {
            bottom: 13px;
          }
        }

        &:hover {
          background: #{$color3};
          cursor: pointer;
        }
      }
    }
  }

  @include phone {
    // スマホ用グローバルナビゲーション
    .gnav-showing {
      position: fixed;
      height: 15rem;
      width: calc(100% - 5rem);
      max-width: 18rem;
      min-width: 10rem;
      min-height: 25rem;
      top: 0;
      right: 0;
      transition: right 0.8s;
      background: #{$color1};
      z-index: 820;
      visibility: visible;
      border-radius: 0.25rem;
      box-shadow:
        0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);

      .logo {
        padding: 0.5rem 1rem;
      }

      .gnav-list {
        flex-direction: column;
      }

      .gnav-item {
        width: calc(100% - 0.5rem);
      }

      .gnav-link {
        display: flex;
        height: 100%;
        border-end-end-radius: 6.25rem;
        border-start-end-radius: 6.25rem;
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.75rem;
        align-items: center;
        letter-spacing: 0.3px;
        min-height: 3rem;
        border-left: 1rem solid #{$color4};

        &:hover {
          background: #{$color3};
        }
      }
    }
  }
}

// スマホ用グローバルナビゲーション表示時のbody
@include phone {
  .no-scroll {
    overflow: hidden;
    display: block;
    opacity: 1;

    .gnav-close {
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      transition: all 0.2s;
      z-index: 810;
    }
  }
}

.bMain {
  .headline {
    margin: 0 1rem 2rem 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 0.5rem;
    background: linear-gradient(to bottom right, #{$color2}, #{$color3});
    border-radius: 1rem;
    color: #{$color5};
  }

  .box-type1 {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    padding: 0.2rem 1.5em;
    border-top: solid 3px #{$color4};
    border-bottom: solid 3px #{$color4};

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 3px;
      top: -10px;
      height: calc(100% + 1.25rem);
      background-color: #{$color4};
    }

    &::before {
      left: 0.7rem;
    }
    &::after {
      right: 0.7rem;
    }
  }

  .box-type2 {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #{$color5};
    background: #{$color2};
    border-left: double 8px #{$color4};
    border-right: double 8px #{$color4};
  }

  .plays-list {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: repeat(12, minmax(0.5rem, 1fr));
    padding: 0 1rem;
    margin: 2rem 0;

    .plays-list-item {
      grid-column-end: span 3;
      border-radius: 0.3rem;

      &:hover {
        box-shadow:
          0 1px 2px 0 rgba(60, 64, 67, 0.3),
          0 1px 3px 1px rgba(60, 64, 67, 0.15);
      }

      @include tablet {
        grid-column-end: span 6;
      }

      @include phone {
        grid-column-end: span 12;
      }

      .plays-list-item-inner {
        display: flex;
        max-height: 15rem;
        min-height: 5rem;

        .plays-media {
          flex-shrink: 0;
          max-width: 40%;
          img {
            height: 100%;
            display: block;
            object-fit: cover;
            border-start-start-radius: 0.3rem;
            border-end-start-radius: 0.3rem;
          }
        }

        .plays-summary {
          padding: 0.8rem;
          border: #{$color3} solid 1px;
          border-left: none;
          border-start-end-radius: 0.3rem;
          border-end-end-radius: 0.3rem;
          width: 100%;

          .plays-summary-title {
            display: inline;
            background: linear-gradient(transparent 70%, #{$color3} 0%);
          }

          .plays-summary-content {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }
        }
      }
    }
  }

  .dots {
    height: 1rem;
    margin: 2rem 0 1rem 0;

    background-image:
      linear-gradient(90deg, #{$color2} 30%, transparent 30%),
      linear-gradient(90deg, #{$color3} 30%, transparent 30%);
    background-size: 3rem, 3rem;
    background-position:
      1.5rem 0,
      0 0;
  }

  .dash {
    height: 0.2rem;
    margin: 2rem 0;

    background-image:
      linear-gradient(90deg, #{$color2} 30%, transparent 30%),
      linear-gradient(90deg, #{$color3} 30%, transparent 30%);
    background-size: 3rem, 3rem;
    background-position:
      1.5rem 0,
      0 0;
  }

  .plays-menu-list {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

    .plays-menu-list-item {
      display: flex;
      align-items: center;
      height: 3rem;
      padding-inline-start: 1rem;

      // 矢印
      .plays-menu-list-link {
        display: flex;
        align-items: center;
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          margin: 0 0.5rem 0 0;
          border-style: solid;
          border-width: 2px 2px 0 0;
          border-color: #{$color4};
          transform: rotate(45deg);
        }
      }
      &::after {
        display: inline-block;
        background: #{$color3};
        content: ""; /* 要素に内容を追加 */
        height: 2px; /* 下線の高さ */
        position: absolute; /* 絶対位置指定 */
        transform: scale(
          0,
          1
        ); /* 下線を横方向に0倍、縦方向に1倍に変形（非表示） */
        transition: transform 0.3s; /* 変形をアニメーション化 */
        width: 100%; /* 要素の幅 */
      }
      &:hover {
        transform: scale(1, 1);
        background: #{$color3};
      }
    }
  }

  .plays-detail {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: repeat(12, minmax(0.5rem, 1fr));
    padding: 0 1rem;

    .plays-detail-left {
      grid-column-end: span 3;
      justify-items: center;

      @include tablet {
        grid-column-end: span 4;
      }

      @include phone {
        grid-column-end: span 12;
      }

      .plays-detail-title {
        padding: 0.5rem 1rem;
        color: #{$color5};
        background: #{$color2};
        border-left: double 8px #{$color4};
        border-right: double 8px #{$color4};
      }

      .plays-detail-media {
        margin: 2rem 0;
      }
    }

    .plays-detail-center {
      grid-column-end: span 3;
      position: relative;
      margin: 2rem 1rem 0 2rem;
      padding: 2em 1.5rem 1rem 1.5rem;
      border: solid 3px #{$color4};
      border-radius: 8px;

      @include tablet {
        grid-column-end: span 8;
      }

      @include phone {
        grid-column-end: span 12;
      }

      .plays-detail-center-content {
        position: absolute;
        top: -1.25rem;
        left: -3rem;
        padding: 0 9px;
        background: #{$color1};
      }
    }

    .plays-detail-right {
      grid-column-end: span 6;
      position: relative;
      margin: 2rem 1rem 0 2rem;
      padding: 2em 1.5rem 1rem 1.5rem;
      border: solid 3px #{$color4};
      border-radius: 8px;

      @include tablet {
        grid-column-end: span 12;
      }

      @include phone {
        grid-column-end: span 12;
      }

      .plays-detail-right-content {
        position: absolute;
        top: -1.25rem;
        left: -3rem;
        padding: 0 9px;
        background: #{$color1};
      }
    }
  }

  .about-us {
    margin: 1rem;

    .about-us-content {
      margin: 2rem 0;
    }

    .about-us-content-txt {
      padding: 1rem;
    }
  }
}

.bFooter {
  .footer-content {
    width: 100%;
    padding-bottom: 2rem;

    // 横並び
    .footer-list {
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;

      .footer-item {
        width: auto;
        border-left: 1px solid #{$color4};
      }

      .footer-link {
        display: flex;
        border-radius: 0.25rem;
        align-items: center;
        padding-inline: 1rem;
        letter-spacing: 0.3px;
        min-height: 3rem;

        &:hover {
          background: #{$color3};
        }
      }
    }
    // スマホ用
    @include phone {
      .footer-list {
        flex-direction: column;

        .footer-item {
          width: calc(100% - 1rem);
          max-width: none;
          border: none;
        }

        .footer-link {
          justify-content: left;
          border-start-end-radius: 6.25rem;
          border-end-end-radius: 6.25rem;
          padding-inline-start: 1rem;
          border-left: 1rem solid #{$color4};

          &:hover {
            background: #{$color3};
          }
        }
      }
    }
  }
  .copyright {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.about-us-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
