@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format("woff2");
}
:root {
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

h1,
h2,
h3,
ul,
li,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

button {
  background: none;
  border: none;
}

h1 {
  word-break: auto-phrase;
  overflow-wrap: anywhere;
}

p {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.body {
  background: #d7d56f;
}

.bHeader {
  height: 64px;
  min-height: 64px;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}
.bHeader.hide {
  transform: translate3d(0, -140px, 0);
}
.bHeader.shadow {
  position: fixed;
  width: 100%;
  top: 0px;
  background: #d7d56f;
  z-index: 2;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.bHeader .gnav {
  display: flex;
  align-items: center;
  height: 100%;
  transition: background 0.3s ease;
  width: 100%;
}
.bHeader .gnav .logo {
  display: block;
  width: auto;
  height: 100%;
}
.bHeader .gnav .gnav-content {
  display: initial;
  height: 100%;
}
.bHeader .gnav .gnav-content .gnav-list {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-item {
  display: flex;
  width: auto;
  min-width: 4.5rem;
  margin: 0.5rem 0;
  border-right: 1px solid #78420e;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-item:last-child {
  border-right: none;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-item .gnav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  letter-spacing: 0.3px;
  min-height: 3rem;
}
.bHeader .gnav .gnav-content .gnav-list .gnav-item .gnav-link:hover {
  background: #9eb639;
}
@media (max-width: 600px) {
  .bHeader .gnav {
    position: absolute;
    visibility: hidden;
  }
}
.bHeader .gnav-mobile {
  width: 100%;
  display: none;
}
@media (max-width: 600px) {
  .bHeader .gnav-mobile {
    display: flex;
  }
  .bHeader .gnav-mobile .logo {
    display: block;
  }
  .bHeader .gnav-mobile .hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 48px;
    height: 48px;
    border-radius: 0.3rem;
  }
  .bHeader .gnav-mobile .hamburger-btn .hamburger-icon {
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #78420e;
  }
  .bHeader .gnav-mobile .hamburger-btn .hamburger-icon::before, .bHeader .gnav-mobile .hamburger-btn .hamburger-icon::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #78420e;
  }
  .bHeader .gnav-mobile .hamburger-btn .hamburger-icon::before {
    top: 13px;
  }
  .bHeader .gnav-mobile .hamburger-btn .hamburger-icon::after {
    bottom: 13px;
  }
  .bHeader .gnav-mobile .hamburger-btn:hover {
    background: #9eb639;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .bHeader .gnav-showing {
    position: fixed;
    height: 15rem;
    width: calc(100% - 40px);
    max-width: 18rem;
    min-width: 220px;
    min-height: 25rem;
    top: 0;
    right: 0;
    background: #d7d56f;
    visibility: visible;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    overflow: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease;
    z-index: 820;
  }
  .bHeader .gnav-showing .logo {
    padding: 0.5rem 0.5rem;
  }
  .bHeader .gnav-showing .hamburger-btn-close {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0.5rem;
    right: 0.5rem;
    width: 48px;
    height: 48px;
    border-radius: 0.3rem;
  }
  .bHeader .gnav-showing .hamburger-btn-close .hamburger-icon-close {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .bHeader .gnav-showing .hamburger-btn-close .hamburger-icon-close::before, .bHeader .gnav-showing .hamburger-btn-close .hamburger-icon-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 30px;
    background-color: #78420e;
  }
  .bHeader .gnav-showing .hamburger-btn-close .hamburger-icon-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .bHeader .gnav-showing .hamburger-btn-close .hamburger-icon-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .bHeader .gnav-showing .hamburger-btn-close:hover {
    background: #9eb639;
    cursor: pointer;
  }
  .bHeader .gnav-showing .gnav-list {
    flex-direction: column;
  }
  .bHeader .gnav-showing .gnav-item {
    width: calc(100% - 0.5rem);
  }
  .bHeader .gnav-showing .gnav-link {
    display: flex;
    height: 100%;
    border-end-end-radius: 6.25rem;
    border-start-end-radius: 6.25rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.75rem;
    align-items: center;
    letter-spacing: 0.3px;
    min-height: 3rem;
    border-left: 1rem solid #78420e;
  }
  .bHeader .gnav-showing .gnav-link:hover {
    background: #9eb639;
  }
}

@media (max-width: 600px) {
  .no-scroll {
    overflow: hidden;
    display: block;
    opacity: 1;
  }
  .no-scroll .gnav-close {
    transition: background 0.3s ease;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 810;
  }
}
.bMain h1:first-letter {
  font-size: 2em;
  color: #9eb639;
}
.bMain .headline {
  margin: 0 1rem 1rem 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 0.5rem;
  color: #382e43;
}
.bMain .box-type1 {
  display: inline-block;
  position: relative;
  margin: 0.3rem 0 0 0.5rem;
  padding: 0.3rem 1.5em;
  border-top: solid 3px #78420e;
  border-bottom: solid 3px #78420e;
  color: #382e43;
}
.bMain .box-type1::before, .bMain .box-type1::after {
  content: "";
  position: absolute;
  width: 3px;
  top: -10px;
  height: calc(100% + 1.25rem);
  background-color: #78420e;
}
.bMain .box-type1::before {
  left: 0.7rem;
}
.bMain .box-type1::after {
  right: 0.7rem;
}
.bMain .box-type2 {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #382e43;
  background: #b6d149;
  border-left: double 8px #78420e;
  border-right: double 8px #78420e;
}
.bMain .plays-list {
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: repeat(12, minmax(0.5rem, 1fr));
  padding: 1rem 1.5rem;
}
.bMain .plays-list .plays-list-item {
  grid-column-end: span 3;
  border-radius: 0.3rem;
}
.bMain .plays-list .plays-list-item:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
@media (max-width: 1200px) {
  .bMain .plays-list .plays-list-item {
    grid-column-end: span 6;
  }
}
@media (max-width: 600px) {
  .bMain .plays-list .plays-list-item {
    grid-column-end: span 12;
  }
}
.bMain .plays-list .plays-list-item .plays-list-item-inner {
  display: flex;
  height: 100%;
  min-height: 13rem;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-media {
  flex-shrink: 0;
  width: 40%;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-media img {
  height: 100%;
  display: block;
  object-fit: cover;
  border-start-start-radius: 0.3rem;
  border-end-start-radius: 0.3rem;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-summary {
  width: 100%;
  padding: 1rem 0.5rem 1rem 1rem;
  border: #9eb639 solid 1px;
  border-left: none;
  border-start-end-radius: 0.3rem;
  border-end-end-radius: 0.3rem;
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-summary .plays-summary-title {
  display: inline;
  background: linear-gradient(transparent 70%, #9eb639 0%);
}
.bMain .plays-list .plays-list-item .plays-list-item-inner .plays-summary .plays-summary-content {
  height: 70%;
  place-content: center;
}
.bMain .dots {
  height: 1rem;
  margin: 2rem 0 1rem 0;
  background-image: linear-gradient(90deg, #b6d149 30%, transparent 30%), linear-gradient(90deg, #9eb639 30%, transparent 30%);
  background-size: 3rem, 3rem;
  background-position: 1.5rem 0, 0 0;
}
.bMain .dash {
  height: 0.2rem;
  margin: 2rem 0;
  background-image: linear-gradient(90deg, #b6d149 30%, transparent 30%), linear-gradient(90deg, #9eb639 30%, transparent 30%);
  background-size: 3rem, 3rem;
  background-position: 1.5rem 0, 0 0;
}
.bMain .plays-menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 1rem;
}
.bMain .plays-menu-list .plays-menu-list-item {
  display: flex;
  align-items: center;
  height: 2rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
}
.bMain .plays-menu-list .plays-menu-list-item .plays-menu-list-link {
  display: flex;
  align-items: center;
}
.bMain .plays-menu-list .plays-menu-list-item .plays-menu-list-link::before {
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 0.5rem 0 0;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: #78420e;
  transform: rotate(45deg);
}
.bMain .plays-menu-list .plays-menu-list-item::after {
  display: inline-block;
  background: #9eb639;
  content: "";
  height: 2px;
  position: absolute;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
  width: 100%;
}
.bMain .plays-menu-list .plays-menu-list-item:hover {
  text-decoration: underline;
  text-decoration-color: #9eb639;
  text-underline-offset: 0.3rem;
}
.bMain .plays-detail {
  display: grid;
  grid-template-columns: repeat(12, minmax(0.5rem, 1fr));
  padding: 0 1rem;
}
.bMain .plays-detail .plays-detail-left {
  grid-column-end: span 3;
  justify-items: center;
}
@media (max-width: 1200px) {
  .bMain .plays-detail .plays-detail-left {
    grid-column-end: span 5;
  }
}
@media (max-width: 600px) {
  .bMain .plays-detail .plays-detail-left {
    grid-column-end: span 12;
  }
}
.bMain .plays-detail .plays-detail-left .plays-detail-title {
  padding: 0.5rem 1rem;
  color: #382e43;
  background: #b6d149;
  border-left: double 8px #78420e;
  border-right: double 8px #78420e;
}
.bMain .plays-detail .plays-detail-left .plays-detail-media {
  padding: 2rem 2rem 0 2rem;
}
.bMain .plays-detail .plays-detail-left .plays-detail-media img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 300px;
  min-height: 350px;
  object-fit: cover;
  border-radius: 0.3rem;
}
.bMain .plays-detail .plays-detail-center {
  grid-column-end: span 4;
  padding: 0.5rem 1rem;
}
@media (max-width: 1200px) {
  .bMain .plays-detail .plays-detail-center {
    grid-column-end: span 7;
  }
}
@media (max-width: 600px) {
  .bMain .plays-detail .plays-detail-center {
    grid-column-end: span 12;
  }
}
.bMain .plays-detail .plays-detail-center .plays-detail-center-theme {
  padding-bottom: 1rem;
}
@media (max-width: 600px) {
  .bMain .plays-detail .plays-detail-center .plays-detail-center-theme {
    padding: 1rem 0;
  }
}
.bMain .plays-detail .plays-detail-center .plays-detail-center-theme .theme {
  position: relative;
}
.bMain .plays-detail .plays-detail-center .plays-detail-center-theme .theme:after {
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, #9eb639, transparent);
}
.bMain .plays-detail .plays-detail-center .plays-Characters {
  position: relative;
}
.bMain .plays-detail .plays-detail-center .plays-Characters .plays-Characters-title {
  position: absolute;
  background: #d7d56f;
  top: -1.5rem;
  left: -1.5rem;
}
.bMain .plays-detail .plays-detail-center .plays-Characters .plays-Characters-list {
  margin: 2rem 0rem 0 0.5rem;
  padding: 2rem 0.8rem 1rem 1rem;
  border: solid 3px #78420e;
  border-radius: 8px;
}
.bMain .plays-detail .plays-detail-center .plays-Characters .plays-Characters-list .plays-Characters-item {
  padding: 0.2rem 0;
  border-bottom: 1px dashed #78420e;
}
.bMain .plays-detail .plays-detail-center .plays-Characters .plays-Characters-list .plays-Characters-item .character-name {
  font-weight: bold;
  padding-right: 1rem;
}
.bMain .plays-detail .plays-detail-right {
  grid-column-end: span 5;
  padding: 0.5rem 1rem;
}
@media (max-width: 1200px) {
  .bMain .plays-detail .plays-detail-right {
    grid-column-end: span 12;
  }
}
.bMain .plays-detail .plays-detail-right .plays-story {
  position: relative;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-title {
  position: absolute;
  background: #d7d56f;
  top: -1.5rem;
  left: -1.5rem;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content {
  margin: 2rem 0rem 0 0.5rem;
  padding: 2rem 0.8rem 1rem 1rem;
  border: solid 3px #78420e;
  border-radius: 8px;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore {
  position: relative;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-accordion {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  transition: height 0.7s;
  height: 500px;
}
@media (max-width: 1200px) {
  .bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-accordion {
    height: 150px;
  }
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-accordion::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent 80%, #d7d56f);
}
@media (max-width: 600px) {
  .bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-accordion::after {
    background: linear-gradient(180deg, transparent 50%, #d7d56f);
  }
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-label {
  display: flex;
  position: absolute;
  justify-self: center;
  padding: 0.1rem 0.5rem;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-label input {
  display: none;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-label:hover {
  text-decoration: underline;
  text-decoration-color: #9eb639;
  text-underline-offset: 0.3rem;
  cursor: pointer;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-label::before {
  content: "";
  width: 20px;
  height: 10px;
  background-color: #9eb639;
  clip-path: polygon(50% 10px, 0% 0%, 20px 0%);
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore .readmore-label:has(:checked)::before {
  content: "";
  width: 20px;
  height: 10px;
  background-color: #9eb639;
  clip-path: polygon(50% 0%, 0% 10px, 20px 10px);
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore:has(:checked) .readmore-accordion {
  height: auto;
}
.bMain .plays-detail .plays-detail-right .plays-story .plays-story-content .readmore:has(:checked) .readmore-accordion::after {
  display: none;
}
.bMain .famous-saying {
  display: grid;
  grid-template-columns: repeat(2, minmax(0.5rem, 1fr));
  margin: 0.5rem 0;
  padding: 1rem 0 0.5rem 0;
  border-top: 0.1rem solid #9eb639;
  border-bottom: 0.1rem solid #9eb639;
  border-right: 2rem solid #9eb639;
  border-left: 2rem solid #9eb639;
}
.bMain .famous-saying .famous-saying-content {
  position: relative;
  grid-column-end: span 1;
  font-style: italic;
  place-content: center;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 1200px) {
  .bMain .famous-saying .famous-saying-content {
    grid-column-end: span 2;
    justify-self: center;
  }
}
@media (max-width: 600px) {
  .bMain .famous-saying .famous-saying-content {
    justify-self: start;
  }
}
.bMain .famous-saying .famous-saying-content .famous-saying-content-ja {
  justify-self: end;
  padding-bottom: 1rem;
}
@media (max-width: 1200px) {
  .bMain .famous-saying .famous-saying-content .famous-saying-content-ja {
    padding-bottom: 0;
  }
}
.bMain .famous-saying .famous-saying-content .famous-saying-content-en {
  justify-self: start;
  padding-bottom: 1rem;
}
.bMain .about-us {
  margin: 1rem;
}
.bMain .about-us .about-us-content {
  margin: 1.5rem 0;
}
.bMain .about-us .about-us-content-txt {
  padding: 1rem;
}

.bFooter .footer-content {
  width: 100%;
  padding-bottom: 2rem;
}
.bFooter .footer-content .footer-list {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}
.bFooter .footer-content .footer-list .footer-item {
  width: auto;
  border-left: 1px solid #78420e;
}
.bFooter .footer-content .footer-list .footer-link {
  display: flex;
  border-radius: 0.25rem;
  align-items: center;
  padding-inline: 0.5rem;
  letter-spacing: 0.3px;
  min-height: 3rem;
}
.bFooter .footer-content .footer-list .footer-link:hover {
  background: #9eb639;
}
@media (max-width: 600px) {
  .bFooter .footer-content .footer-list {
    flex-direction: column;
  }
  .bFooter .footer-content .footer-list .footer-item {
    width: calc(100% - 1rem);
    max-width: none;
    border: none;
  }
  .bFooter .footer-content .footer-list .footer-link {
    justify-content: left;
    border-start-end-radius: 6.25rem;
    border-end-end-radius: 6.25rem;
    padding-inline-start: 1rem;
    border-left: 1rem solid #78420e;
  }
  .bFooter .footer-content .footer-list .footer-link:hover {
    background: #9eb639;
  }
}
.bFooter .copyright {
  display: block;
  text-align: center;
  padding-bottom: 2rem;
}

.about-us-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}/*# sourceMappingURL=common.css.map */